.image-carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.image-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;

  &.active {
    opacity: 1;
  }
}

.indicators {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 2;
}

.indicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 0;

  &.active {
    background: white;
  }
}

.prev-button,
.next-button {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.next-button {
  right: 0;
}

.carousel-image {
  width: 480px;
  height: auto;
  object-fit: cover;
}
