.container {
  display: flex;
  gap: 4px;
  position: relative;
  align-items: center;
  justify-content: center;
}

.selectWrapper {
  display: flex;
  align-items: center;
  border-radius: var(--borderRadiusMedium, 4px);
  border: 1px solid var(--colorNeutralStroke1);
  border-bottom-color: var(--colorNeutralStrokeAccessible);
  padding: 0 8px 0 12px;
  height: 32px;
  background: var(--colorNeutralBackground1);
  transition: border-color 0.15s ease-in-out, background 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
  min-width: 240px;
  font-family: var(--fontFamilyBase, inherit);
  font-size: var(--fontSizeBase300, 14px);
  line-height: var(--lineHeightBase300, 20px);

  &:hover {
    background: var(--colorNeutralBackground1Hover);
  }

  &:active {
    background: var(--colorNeutralBackground1Pressed);
  }

  &:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    left: -1px;
    bottom: -1px;
    right: -1px;
    height: max(2px, var(--borderRadiusMedium, 4px));
    border-bottom-left-radius: var(--borderRadiusMedium, 4px);
    border-bottom-right-radius: var(--borderRadiusMedium, 4px);
    border-bottom: 2px solid
      var(--colorCompoundBrandStroke, var(--colorBrandStroke1));
    clip-path: inset(calc(100% - 2px) 0px 0px);
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: var(--durationUltraFast, 0.1s);
    transition-delay: var(--curveAccelerateMid, 0s);
  }

  &.focused {
    outline: transparent solid 2px;

    &:after {
      transform: scaleX(1);
      transition-property: transform;
      transition-duration: var(--durationNormal, 0.2s);
      transition-delay: var(--curveDecelerateMid, 0s);
    }
  }

  &.disabled {
    background: var(--colorNeutralBackground3);
    border-color: var(--colorNeutralStrokeDisabled);
    cursor: not-allowed;

    .value,
    .placeholder,
    .arrow {
      color: var(--colorNeutralForegroundDisabled);
    }
  }
}

.value {
  flex: 1;
  font-size: inherit;
  color: var(--colorNeutralForeground1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.placeholder {
  flex: 1;
  font-size: inherit;
  color: var(--colorNeutralForeground4);
}

.arrow {
  margin-left: 8px;
  color: var(--colorNeutralForeground3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s cubic-bezier(0.16, 1, 0.3, 1),
    color 0.15s ease-in-out;

  &.open {
    transform: rotate(180deg);
    color: var(--colorNeutralForeground2);
  }

  .selectWrapper:hover & {
    color: var(--colorNeutralForeground2);
  }
}

.dropdown {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  background: var(--colorNeutralBackground1);
  border: 1px solid var(--colorNeutralStroke1);
  border-radius: var(--borderRadiusXLarge, 4px);
  z-index: 100;
  display: none;
  box-shadow: var(
    --shadow16,
    0 6.4px 14.4px 0 rgba(0, 0, 0, 0.132),
    0 1.2px 3.6px 0 rgba(0, 0, 0, 0.108)
  );
  padding: 4px 0;

  &.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    animation: _dropdownIn_1thwy_1 0.2s cubic-bezier(0.33, 0, 0.67, 1);
  }

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--colorNeutralForeground3);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.option {
  padding: 0 12px;
  font-size: inherit;
  color: var(--colorNeutralForeground1);
  cursor: pointer;
  transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
  height: 32px;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 4px;
  margin: 0 4px;
  // width: calc(100% - 8px);

  &:hover {
    // background: var(--colorSubtleBackgroundHover);
    background: var(--colorSubtleBackgroundSelected);
    color: var(--colorNeutralForeground1Hover);
  }

  &:active {
    background: var(--colorSubtleBackgroundPressed);
    color: var(--colorNeutralForeground1Pressed);
  }

  &.selected {
    background: var(--colorSubtleBackgroundSelected);
    color: var(--colorNeutralForeground1Selected);
    font-weight: var(--fontWeightSemibold, 600);

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      bottom: 7px;
      width: 3px;
      background: var(--colorCompoundBrandStroke, var(--colorBrandStroke1));
      border-radius: 1.5px;
    }

    &:hover {
      // background: var(--colorSubtleBackgroundSelectedHover);
      background: var(--colorSubtleBackgroundHover);
      // color: var(--colorNeutralForeground1Hover);
    }

    &:active {
      background: var(--colorSubtleBackgroundPressed);
    }
  }

  &.highlighted {
    background: var(--colorSubtleBackgroundHover);
    color: var(--colorNeutralForeground1Hover);

    &:not(.selected):not(.disabled) {
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 4px;
        bottom: 4px;
        width: 2px;
        background: var(--colorNeutralStroke1);
        border-radius: 0 2px 2px 0;
        opacity: 0.6;
      }
    }
  }

  &.disabled {
    color: var(--colorNeutralForegroundDisabled);
    background: transparent;
    cursor: not-allowed;
  }
}

.warningMessage {
  position: absolute;
  left: 0;
  top: 100%;
  color: var(--colorStatusDangerForeground1);
  margin-top: 4px;
  line-height: 1.2;
  white-space: nowrap;
  font-size: 0.6rem;
}

@keyframes dropdownIn {
  from {
    opacity: 0;
    transform: translateY(-4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
