.download-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.download-progress {
  position: absolute;
  bottom: 36px;
}
