.app {
  --content-width: 500px;
  height: 100vh;
}

.toast-message-link-like-button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: var(--colorBrandForegroundLink);
  cursor: pointer;

  &:hover {
    color: var(--colorBrandForegroundLinkHover);
  }

  &:active {
    color: var(--colorBrandForegroundLinkPressed);
  }
}
