.menu-item {
  --menu-item-color-shadow: #00000085;

  padding: 4px;
  border-radius: 5px;

  &:hover {
    box-shadow: 0 0 5px 1px var(--menu-item-color-shadow);
  }

  &.active {
    box-shadow: 0 0 5px 1px var(--menu-item-color-shadow);
  }
}
