.app {
  --content-width: 500px;
  height: 100vh;
}

.sidebar {
  height: 560px;
  display: flex;
  flex-direction: column;
}

.sidebar-buttons {
  flex: 1;
}

.toast-message-link-like-button {
  background-color: transparent;
  border: none;
  text-decoration: underline;
  color: var(--colorBrandForegroundLink);
  cursor: pointer;

  &:hover {
    color: var(--colorBrandForegroundLinkHover);
  }

  &:active {
    color: var(--colorBrandForegroundLinkPressed);
  }
}
